Source: rtcom-eventlogger-plugins
Priority: extra
Maintainer: Ivan J. <parazyd@dyne.org>
Build-Depends:
 debhelper (>= 10),
 libtool-bin,
 libglib2.0-dev,
 librtcom-eventlogger-dev(>= 1.1),
 libsqlite3-dev,
Standards-Version: 4.3.0
Section: libs

Package: librtcom-eventlogger-plugins1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 rtcom-call-ui-l10n-mr0 | rtcom-call-ui-l10n-mr,
Description: Event Logger Library plugins.
  Event Logger Library plugins.

Package: librtcom-eventlogger-plugins-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 librtcom-eventlogger-plugins1 (= ${binary:Version}),
Description: Event Logger Library plugins. Development files.
  Event Logger Library plugins.
  .
  Development files.
